/* Register Page Styling */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 560px;
    background: linear-gradient(#00d5ff, #0095ff, rgba(93, 0, 255, 0.555));
    padding: 20px;
    
}

.register-box {
    background: white;
    padding: 20px;
    width: 40%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Ensure the form is properly aligned */
.register-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .register-box {
        width: 90%;
    }
}
